// @import 'yoga';
// @import 'normalize';

$c-color: #002e42;

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'nav';

.series__pic {
  width: 15rem;
  margin-top: 1rem;
  border-radius: .5rem;
}

.series__name {
  font-size: 1.5rem;
}

.creators {
  &__heading {
        padding-left: .5rem;
        padding-bottom: -0.2rem;
        margin: 0;
  }
}

.characters {
  &__heading {border-bottom: .1rem $c-color solid;}
}

.grid {
    display: flex;

  &-item {
    margin: 2rem;
  }
}

.series {
  flex-basis: calc(25%);
}

.main {
  flex-basis: calc(75%);
  flex-grow: 1;
}

.characters-row {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

.characters-data {
  margin: .5rem;
}

.characters-data__pic {
  border-radius: .2rem;
}

.comics-heading {
  border-bottom: .1rem $c-color solid;
}

.comics-row {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

.comics-data {
  margin: .5rem;
}

.comics-data__pic {
  border-radius: .2rem;
}

.number {
  padding-top: 1rem;
  margin-left: .5rem;
}

.name {
  font-weight: bold;
}

.btn {
  background: $c-color;
  color: white;
  width: 100%;
  height: 1.8rem;
  border: none;
  border-radius: .2rem;
  outline: none;

  &:hover {
    background: #c63c3c;
  }
}
