// @import 'yoga';
// @import 'normalize';

$c-color: #002e42;

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'nav';
@import 'grid';

.sidebar__pic {
  width: 15rem;
  margin-top: 1rem;
  border-radius: .5rem;
}

.sidebar__name {
  font-size: 1.5rem;
}

.creators {
  &__heading {
        padding-left: .5rem;
        padding-bottom: -0.2rem;
        margin: 0;
  }
}

.characters {
  &__heading {border-bottom: .1rem $c-color solid;}
}

.grid {
    display: flex;

  &-item {
    margin: 2rem;
  }
}

.sidebar {
  flex-basis: calc(25%);
}

.main {
  flex-basis: calc(75%);
  flex-grow: 1;
}

.characters-row {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}
