// @import 'yoga';
// @import 'normalize';

$c-color: #002e42;

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'nav';
@import 'grid';

.app {
  display: flex;
}

.sidebar {

&__pic {
  height: 18rem;
  border-radius: .5rem;
}
&__name {
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: .5rem;
  color: $c-color;
}
&__date {
  padding-left: .5rem;
}
}

.creators {
  &__heading {
        padding-left: .5rem;
        padding-bottom: -0.2rem;
  }
  &__list {
      border-top: .1rem $c-color solid;
      margin: .5rem;
  }
}
